body {
    background-color: darkseagreen;
}

#score {
    font-size: 24;
    margin-left: -1250px;
}

#time {
    font-size: 24;
    margin-left: 1250px;
}

#sketchdrawn {
    color: aquamarine;
    font-size: 32;
}